/* Css document */
body {background-color: rgb(222, 217, 217);}
h1{ font-family:arial;}
title {font-size:20px ;}
p{ margin: 20px;}
ol{color: rgb(242, 242, 242);}
li{height: 50px;}
li{color: rgb(234, 21, 21);}
h2{text-transform: lowercase;}
